/* ERROR SECTION */
.error {
    height: 700px;
    background: url(../img/404/bg.png) center center no-repeat;
}

.error__wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.error__block {
    max-width: 500px;
}

.error-descr {
    margin-top: 20px;
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}

.error-btn {
    margin-top: 40px;
}

@media (max-width: 1200px) {
    .error {
        height: 443px;
        background-size: contain;
        background-position: left center;
    }
    .error__block {
        max-width: 338px;
    }
    .error-title {
        font-size: 40px !important; 
    }
    .error-descr {
        margin-top: 16px;
    }
    .error-btn {
        margin-top: 20px;
    }
}