.about {
    padding: 80px 0;
    background: #FEFEFE;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.about__descr {
    margin-top: 40px;
}

.about__descr-title {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}

.about__descr-text {
    margin-top: 20px;
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}

.about__descr-text span {
    font-weight: 700;
}

.stat__wrapper {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.stat__block {
    padding: 20px;
    border-radius: 40px;
    background: #EEE;
    height: 214px;
    width: 296px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.stat__block-value {
    color: #303030;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
}

.stat__block-title {
    color: #091213;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
}

.map__block {
    position: relative;
    width: 602px;
    height: 460px;
}

.about-map {
    width: inherit;
    height: inherit;
    object-fit: contain;
    mix-blend-mode: luminosity;
    opacity: .4;
}

.city__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.city__item-name {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
}

.city__item.rb {
    top: 143px;
    left: 57px;
}

.city__item.rf {
    top: 13px;
    right: 114px;
}

.city__item.minsk {
    bottom: 31px;
    right: 229px;
}