/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Montserrat&family=Play:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    display: inline-flex;
    text-decoration: none;
}

li a {
    color: inherit;
    font-family: inherit;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    max-width: 1254px;
    margin: 0 auto;
    padding: 0 20px;
}

/* COMMON STYLES */

.red-btn {
    height: 48px;
    padding: 0 30px;
    border-radius: 60px;
    background: #C21B22;
    color: #FEFEFE;
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 700;
    line-height: 105%;
    max-width: fit-content;
}

.messengers {
    display: flex;
    gap: 7px;
}

.title {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 110%;
}

.title span {
    color: #C21B22;
}

.navigation {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navigation-btn {
    cursor: pointer;
}

.right-swiper {
    max-width: 1567px;
    padding-left: 20px;
    margin: 0 0 0 auto;
}

.puncts__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.puncts__list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    width: 100%;
}

.puncts__list-item-title {
    color: #C21B22;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.puncts__list-item-descr {
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}

.close-popup {
    display: inline-flex;
    position: absolute;
    top: 40px;
    right: 40px;
}

.form-input {
    width: 100%;
    padding: 0 20px;
    background: #FEFEFE;
    border-radius: 10px;
    color: #303030;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    height: 47px;
}

.form-input input {
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
}

.phone-input-block {
    display: flex;
    align-items: center;
    gap: 6px;
}

.phone-code-input {
    font-weight: 700 !important;
    width: 37px;
}

.form-input::placeholder,
.phone-input,
.phone-input::placeholder {
    color: hsla(0, 0%, 9%, .4) !important;
}

.form-input input::placeholder {
    color: hsla(0, 0%, 9%, .4) !important;
}

/* HEADER */

.header {
    padding: 16px 0 6px;
    width: 100%;
    background: #161616;
}

.header__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block-left {
    display: flex;
    align-items: center;
    gap: 2px;
}

.menu__block-top {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__titles {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header-title {
    color: #FEFEFE;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

.menu {
    margin-top: 12px;
}

.menu__list {
    display: flex;
}

.menu__list-item {
    color: #FEFEFE;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 105%;
    border-top: 1px solid #FEFEFE;
    transition: .5s all;
}

.menu__list-item > a {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.service-menu-item {
    position: relative;
}

.submenu {
    position: absolute;
    top: 50px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #303030;
    background: #FEFEFE;
    display: flex;
    align-items: flex-start;
    opacity: 0;
    z-index: -1;
    transition: .3s all;
    pointer-events: none;
}

.submenu.active {
    opacity: 1;
    z-index: 5;
    pointer-events: all;
}

.submenu__list {
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.submenu__list-item {
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

.submenu__list-item.title-item {
    color: #C21B22;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 105%;
    white-space: nowrap;
}

.service-menu-item a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.service-menu-item>a::after {
    content: "";
    width: 8px;
    height: 15px;
    background: url(../img/header/menu-arrow.svg);
}

.service-menu-item.active>a::after {
    background: url(../img/header/menu-arrow-active.svg);
}

.menu__list-item.active,
.menu__list-item:hover {
    border-top: 1px solid #C21B22;
    color: #C21B22;
}

.header__buttons {
    display: flex;
    gap: 8px;
}

.phone-btn button{
    height: 48px;
    color: #161616;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 105%;
    border-radius: 60px;
    background: #FEFEFE;
    padding: 0 16px 0 50px;
    position: relative;
}

.phone-btn button::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: url(../img/logos/phone.svg);
}

.header__info {
    margin-top: 13px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.info-item {
    height: 32px;
    display: flex;
    align-items: center;
    color: #FEFEFE;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    position: relative;
    padding-left: 40px;
}

.info-item::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 32px;
    height: 32px;
}

.weather::before {
    background: url(../img/header/weather.svg);
}

.exchange::before {
    background: url(../img/header/exchange.svg);
}

/* Footer */
.footer {
    background: #161616;
    padding: 40px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-info-item {
    color: #FEFEFE;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    opacity: .4;
}

.footer-title {
    color: #C21B22;
    font-family: 'Play';
    font-size: 18px;
    font-weight: 700;
    line-height: 105%;
    text-transform: uppercase;
}

.footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .popup-btn {
    margin-top: 2px;
}

.footer-promise {
    margin-top: 8px;
    text-align: center;
    max-width: 164px;
}

.footer-menu__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu__list-item {
    color: #FEFEFE;
    font-family: 'Play';
    font-size: 18px;
    font-weight: 700;
    line-height: 105%;
}

.footer-services__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-services__list-item {
    color: #FEFEFE;
    font-family: 'Play';
    font-size: 16px;
    font-weight: 400;
    line-height: 105%;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 296px;
}

.footer-contacts__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contacts__list-item {
    color: #FEFEFE;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    position: relative;
    padding-left: 28px;
}

.footer-contacts__list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.footer-contacts__list-item.delivery::before {
    background: url(../img/logos/time-mini.svg);
}

.footer-contacts__list-item.address::before {
    background: url(../img/logos/geo-mini.svg);
}

.footer-contacts__list-item.phone::before {
    background: url(../img/logos/phone-mini.svg);
}

.footer-contacts__list-item.mail::before {
    background: url(../img/logos/mail-mini.svg);
}

.footer-messengers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-legal__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-legal__list-item {
    color: #FEFEFE;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.footer-info {
    margin-top: 20px;
    display: flex;
    gap: 80px;
}

.footer-margin {
    margin-top: 40px;
}

/* POPUP */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
    opacity: 0;
    transition: .3s all;
}

.overlay.active {
    z-index: 100;
    opacity: 1;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: #EEE;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;
}

.popup-logo {
    display: block;
    margin: 0 auto;
}

.popup-descr {
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}

.popup-form .form-input {
    height: 66px;
}

.popup-form input {
    font-size: 20px;
}

.popup-form .phone-code-input {
    width: 46px;
}

.popup-form .form-agreement {
    margin-top: 12px;
}

.popup-form button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}