/* PROMO SECTION */

.promo {
    padding: 80px 0 72px;
    background: url(../img/index/promo/bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
}

.promo-title {
    font-size: 65px;
}

.promo-subtitle {
    margin-top: 20px;
    color: #C21B22;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}

.promo-services__list{
    margin-top: 30.5px;
    display: flex;
    flex-direction: column;
    gap: 8.5px;
}

.promo-services__list-item {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
    padding-left: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
}

.promo-services__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: url(../img/index/promo/list-point.svg);
}

.calc {
    max-width: 500px;
}

.calc-top {
    border-radius: 20px 20px 0px 0px;
    background: #EEE;
    padding: 40px;
}

.calc-bottom {
    border-radius: 0px 0px 20px 20px;
    background: #303030;
}

.calc-title {
    color: #161616;
    font-family: 'Play', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}

.calc-descr {
    margin-top: 12px;
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.calc-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input__block {
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    height: 55px;
}

.input-title {
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    opacity: .6;
}

.input-value,
.input-value::placeholder {
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
}

.from__block {
    border-radius: 10px 0 0 10px;
}

.to__block {
    border-radius: 0 10px 10px 0;
}

.arrow__block {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
}

.calc-form__block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calc-form__block.addresses-block {
    gap: 0;
}

.input__block.data-input,
.input__block.option-input {
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 20px center;
    cursor: pointer;
}

.input__block.data-input {
    background-image: url(../img/index/promo/calc/calendar.svg);
}

.input__block.option-input {
    background-image: url(../img/index/promo/calc/option.svg);
}

.movers-input {
    width: 18px;
    text-align: center;
}

.movers-input::-webkit-outer-spin-button,
.movers-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-line {
    display: flex;
    align-items: center;
    gap: 4px;
}

.input-line button {
    display: inline-flex;
}

.promocode-input {
    border-radius: 4px;
    background: #fff;
    width: fit-content;
    height: 55px;
    text-align: center;
    padding: 0 20px;
    max-width: 147px;
}

.promocode-input,
.promocode-input::placeholder {
    color: hsla(0, 0%, 9%, .6);
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
}

.promocode__block {
    display: flex;
    align-items: center;
}

.calc-bottom {
    padding: 20px 0;
    border-radius: 0px 0px 20px 20px;
    background: #303030;
    text-align: center;
}

.phone-input,
.phone-input::placeholder {
    color: hsla(0, 0%, 9%, .4);
}

.phone-input-block {
    display: flex;
    align-items: center;
    gap: 6px;
}

.phone-code-input {
    width: 32px;
}

/* STOCK SECTION */

.stock {
    padding: 80px 0 40px;
    background: #EEE;
}

.stock-swiper {
    height: 448px;
    max-width: 1567px;
    margin: 0 0 0 auto;
}

.stock-card {
    border-radius: 20px;
    border: 1px solid #303030;
    background-color: #EEE;
    padding: 40px;
    position: relative;
    background-position: center top 75px;
    background-repeat: no-repeat;
    max-width: 398px !important;
    width: 100% !important;
    height: 100%;
    overflow: hidden;
}

.stock-card.triangle-red {
    background-image: url(../img/index/stock/triangle-red.png);
}

.stock-card.triangle-black {
    background-image: url(../img/index/stock/triangle-black.png);
}

.stock-card.triangle-white {
    background-image: url(../img/index/stock/triangle-white.png);
}

.stock-card-title {
    color: #161616;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}

.stock-card-title .white {
    color: #FEFEFE;
}

.stock-card-title .red {
    color: #C21B22;
}

.stock-card-descr {
    margin-top: 8px;
    color: #FEFEFE;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    line-height: 110%;
}

.stock-card-descr.big {
    font-size: 40px;
}

.stock-card-descr.medium {
    font-size: 32px;
}

.stock-card-descr.small {
    font-size: 24px;
}

.slide-img {
    position: absolute;
    border-radius: 50%;
    left: -26%;
    bottom: -32%;
}