/* PROMO SECTION */

.promo {
    padding: 80px 0 72px;
    background: url(../img/index/promo/bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 55%;
}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.promo-title {
    font-size: 65px;
}

.promo-subtitle {
    margin-top: 20px;
    color: #C21B22;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}

.promo-services__list{
    margin-top: 30.5px;
    display: flex;
    flex-direction: column;
    gap: 8.5px;
}

.promo-services__list-item {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
    padding-left: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
}

.promo-services__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: url(../img/index/promo/list-point.svg);
}

.title-tablets {
    display: none;
}

@media (max-width: 1200px) {
    .promo {
        background-position: left -160% bottom;
        background-size: 77%;
        padding: 35px 0 40px;
    }
    .title-tablets {
        display: block;
    }
    .promo-titles {
        display: none;
    }
    .promo__wrapper {
        margin-top: 30px;
    }
    .promo-services__list {
        margin-top: 0;
    }
    .promo-services__list-item {
        font-size: 24px;
    }
}

@media(max-width: 767px) {
    .promo {
        padding: 35px 0 40px;
        background-position: top 100px center;
        background-size: 80%;
    }
    .promo__wrapper {
        margin-top: 0;
        flex-direction: column;
        gap: 54px;
    }
    .promo-subtitle {
        margin-top: 16px;
        font-size: 24px;
    }
    .title-tablets {
        display: none;
    }
    .promo-titles {
        display: block;
    }
    .promo-services__list {
        margin-top: 12px;
        gap: 0;
    }
    .promo-services__list-item {
        font-size: 18px;
        padding-left: 24px;
        height: 32px;
    }
    .promo-services__list-item::before {
        width: 16px;
        height: 32px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* STOCK SECTION */

.stock {
    padding: 80px 0 40px;
    background: #EEE;
}

.stock-swiper {
    height: 448px;
}

.stock-card {
    border-radius: 20px;
    border: 1px solid #303030;
    background-color: #EEE;
    padding: 40px;
    position: relative;
    background-position: center top 75px;
    background-repeat: no-repeat;
    max-width: 398px !important;
    width: 100% !important;
    height: 100%;
    overflow: hidden;
}

.stock-card.triangle-red {
    background-image: url(../img/index/stock/triangle-red.png);
}

.stock-card.triangle-black {
    background-image: url(../img/index/stock/triangle-black.png);
}

.stock-card.triangle-white {
    background-image: url(../img/index/stock/triangle-white.png);
}

.stock-card-title {
    color: #161616;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}

.stock-card-title .white {
    color: #FEFEFE;
}

.stock-card-title .red {
    color: #C21B22;
}

.stock-card-descr {
    margin-top: 8px;
    color: #FEFEFE;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    line-height: 110%;
}

.stock-card-descr.big {
    font-size: 40px;
}

.stock-card-descr.medium {
    font-size: 32px;
}

.stock-card-descr.small {
    font-size: 24px;
}

.slide-img {
    position: absolute;
    border-radius: 50%;
    left: -26%;
    bottom: -32%;
}

@media (max-width: 1200px) {
    .stock {
        padding: 60px 0 20px;
    }
    .stock-card {
        max-width: 359px !important;
    }
}

@media (max-width: 767px) {
    .stock {
        padding: 40px 0 20px;
    }
    .stock-card {
        max-width: 280px !important;
        padding: 20px;
        background-position: center top 50px;
        background-size: 95%;
    }
    .stock-card-title {
        font-size: 24px;
    }
    .slide-img {
        width: 300px;
        height: 300px;
        left: -22%;
        bottom: -14%;
    }

}

/* SERVICES SECTION */

.services {
    padding: 80px 0;
    background: #FEFEFE;
}

.services-title {
    text-align: center;
}

.services__tabs {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.services-tab {
    padding: 20px 40px;
    border-radius: 40px;
    background: #EEE;
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 105%;
    cursor: pointer;
    transition: .3s all;
}

.services-tab.active {
    background: #303030;
    color: #FEFEFE;
}

.services-content__block {
    margin-top: 40px;
    display: none;
    gap: 10px;
    justify-content: center;
}

.services-content__block.active {
    display: flex;
}

.services-card {
    height: 100%;
    border-radius: 20px;
    width: 398px;
}

.services-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.services-card-title__block {
    margin-top: -50px;
    position: relative;
    z-index: 4;
    border-radius: 20px 20px 0px 0px;
    background: #FAFAFA;
    padding: 12px 0;
    text-align: center;
}

.services-card-title {
    color: #303030;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
}

.services-card__content {
    height: 100%;
    border-radius: 0 0 20px 20px;
    background: #EEE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.content-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-card-price {
    padding: 10px 20px;
    border-radius: 20px;
    background: #C21B22;
    color: #FEFEFE;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    max-width: fit-content;
    display: block;
    margin: 0 auto;
}

.services-card__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.services-card__list-item {
    min-height: 30px;
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    padding-left: 34px;
    position: relative;
}

.services-card__list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url(../img/index/services/card-point.svg);
}

.services-card-btn {
    border-radius: 60px;
    background: #303030;
    padding: 0 30px;
    height: 47px;
    color: #FEFEFE;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 105%;
    max-width: fit-content;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .services {
        padding: 60px 0 104px;
    }
    .services-content__wrapper {
        overflow-x: auto;
    }
    .services-content__wrapper::-webkit-scrollbar {
        display: none;
    }
    .services-content__wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .services-content__block {
        justify-content: flex-start;
        padding: 0 20px;
        width: fit-content;
    }
    .services-card {
        width: 359px;
    }
}

@media (max-width: 767px) {
    .services {
        padding: 40px 0;
    }
    .services-title {
        text-align: left;
    }
    .services__tabs {
        margin-top: 20px;
        justify-content: flex-start;
    }
    .services-tab {
        padding: 10px 20px;
        font-size: 16px;
    }
    .services-content__block {
        margin-top: 20px;
    }
    .services-card {
        width: 280px;
    }
    .services-card-img {
        height: 156px;
    }
    .services-card-title__block {
        margin-top: -44px;
    }
    .services-card-title {
        font-size: 18px;
    }
    .services-card__content {
        padding: 12px 20px 20px;
        gap: 12px;
    }
    .services-card-price {
        font-size: 18px;
    }
    .content-header {
        gap: 12px;
    }
    .services-card__list-item {
        font-size: 16px;
    }
    .services-card-btn {
        font-size: 16px;
        height: 43px;
    }
    
}

/* AUTO BLOCK */

.auto {
    padding-bottom: 40px;
    background: #EEE;
}

.auto .container {
    position: relative;
}

.auto-title {
    padding-top: 76px;
}

.auto-swiper {
    margin-top: 80px;
    position: relative;
    z-index: 10;
}

.auto-card {
    padding: 40px 20px;
    border-radius: 20px;
    border: 2px solid #303030;
    background: #FEFEFE;
    max-width: 398px !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.auto-card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 82px;
}

.card-top-text {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
}

.auto-card-title {
    color: #303030;
}

.auto-card-volume {
    border-radius: 20px;
    background: #EEE;
    padding: 10px 20px;
    color: #C21B22;
}

.auto-card-photo {
    max-width: 100%;
}

.auto-card-weight {
    font-family: 'Play', sans-serif;
    padding: 10px 20px;
    color: #303030;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}

.auto-card-price__block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.price-text {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}

.price-from {
    color: #FEFEFE;
    padding: 10px 20px;
    border-radius: 20px;
    background: #303030;
}

.price-km {
    color: #303030;
}

.auto__info {
    position: absolute;
    right: 0;
    top: 0;
}

.auto-circle {
    border-radius: 500px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
}

.auto-circle.white {
    background: #FEFEFE;
    border: 1px solid #EEE;
    top: -10px;
    right: 232px;
    z-index: 3;
}

.auto-circle.red {
    background: #C21B22;
    right: 0;
    top: -38px;
}

.auto-circle-title {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
}

.auto-circle-title span {
    font-size: 60px;
}

.auto-circle-title.black {
    color: #303030;
}

.auto-circle-title.white {
    color: #FEFEFE;
}

.auto-circle-descr {
    color: #161616;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    max-width: 197px;
}

.auto-circle-descr.black {
    color: #161616;
}

.auto-circle-descr.white {
    color: #FEFEFE;
}

@media(max-width: 1200px) {
    .auto {
        padding-bottom: 20px;
    }
    .auto-card {
        max-width: 359px !important;
    }
    .auto-card-title {
        font-size: 20px;
    }
    .auto-card-weight {
        font-size: 16px;
    }
    .price-text {
        font-size: 16px;
    }
    .auto-circle {
        width: 200px;
        height: 200px;
    }
    .auto-circle-title span {
        font-size: 40px;
    }
    .auto-circle-descr {
        font-size: 16px;
    }
    .auto-circle.red {
        right: 20px;
    }
    .auto-circle.white {
        right: 185px;
    }
}

@media (max-width: 767px) {
    .auto-swiper {
        margin-top: 231px;
    }
    .auto {
        position: relative;
    }
    .auto .container {
        position: static;
    }
    .auto__info {
        left: 0;
        top: 14%;
    }
    .auto-title {
        padding-top: 40px;
    }
    .auto-circle {
        width: 180px;
        height: 180px;
    }
    .auto-circle-title {
        font-size: 32px;
    }
    .auto-circle {
        gap: 8px;
    }
    .auto-card {
        max-width: 280px !important;
        padding: 20px;
        gap: 12px;
    }
    .auto-card-price__block {
        flex-direction: column;
        align-items: center;
    }
}

/* LOADER-COAST SECTION */

.loader-coast {
    padding-top: 80px;
    height: 794px;
}

.loader-coast .container {
    position: relative;
}

.loader-coast .container {
    height: 100%;
}

.loader-coast-bg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.loader__info {
    margin: 80px 0 0 103px;
}

.loader__circle {
    border-radius: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.loader__circle.black {
    background: #303030;
    border: 1px solid #EEE;
    position: relative;
    z-index: 2;
}

.loader__circle.red {
    background: #C21B22;
    margin-top: -78px;
    margin-left: 80px;
}

.loader__circle-value {
    color: #FEFEFE;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
}

@media (max-width: 1200px) {
    .loader-coast {
        height: 654px;
    }
    .loader__info {
        margin: 0;
        margin-top: 91px;
        position: relative;
        z-index: 10;
    }
    .loader-coast-bg {
        max-width: 65%;
    }
}

@media (max-width: 767px) {
    .loader-coast {
        padding: 40px 0 20px;
        height: auto;
    }
    .loader-coast-bg {
        position: static;
        max-width: 100%;
        max-height: 391px;
    }
    .loader__info {
        margin-top: 20px;
    }
    .loader__circle {
        width: 150px;
        height: 150px;
    }
    .loader__circle-value {
        font-size: 32px;
    }
    .loader__circle.red {
        margin-top: -50px;
    }
}

/* TRUST SECTION */

.trust {
    padding: 80px 0 92px;
    background: #EEE;
    position: relative;
}

.trust-title {
    text-align: center;
}

.trust .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 69px;
}

.trust__list {
    width: 815px;
    align-self: flex-end;
    background-repeat: no-repeat;
}

.trust__list-item.start {
    align-self: flex-start;
}

.trust__list-item.center {
    align-self: flex-end;
    max-width: 671px;
}

.trust__list-item.end {
    align-self: flex-end;
    max-width: 618px;
}

.trust__list-item-descr span {
    font-weight: 700;
}

.trust-bg {
    position: absolute;
    top: 17%;
    left: 20%;
}
.trust-bg img {
    max-height: 100%;
}
.trust-car {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1200px) {
    .trust-title {
        max-width: 544px;
        text-align: left;
    }
    .trust__list {
        width: 585px;
    }
    .trust__list-item.center {
        max-width: 481px;
    }
    .trust__list-item.end {
        max-width: 445px;
    }
    .trust-bg {
        top: 27%;
        height: 470px;
        left: 5%;
    }
    .trust-car {
        max-width: 150%;
    }
}

@media(max-width: 767px) {
    .trust {
        padding: 40px 0;
    }
    .trust-bg {
        position: static;
        max-width: 100%;
        display: flex;
        align-items: center;
        height: 300px;
    }
    .trust-bg .trust-car {
        position: static;
        transform: none;
        max-width: 50%;
    }
    .trust__list {
        width: 100%;
    }
    .trust__list-item {
        align-self: flex-start !important;
    }
    .trust .container {
        gap: 20px;
    }
    .puncts__list-item-title {
        font-size: 18px;
    }
    .puncts__list-item {
        gap: 8px;
    }
    .puncts__list-item-descr {
        font-size: 16px;
    }
    .puncts__list {
        gap: 16px;
    }
}

/* FAQ SECTION */

.faq {
    padding: 80px 0 60px;
    background: #FEFEFE;
}

.faq-title {
    text-align: center;
}

.collapse {
    max-width: 1010px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.collapse__block {
    width: 100%;
}

.collapse__block__wrapper {
    border-radius: 10px;
    background: #F8F8F8;
    padding: 13px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.collapse__block-title {
    max-width: 890px;
    width: 100%;
    color: #161616;
    font-family: 'Play', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}

.collapse__block-trigger {
    width: 40px;
    height: 40px;
    background: url(../img/index/faq/open-btn.svg);
}

.collapse__block.active .collapse__block-trigger {
    background: url(../img/index/faq/close-btn.svg);
}

.collapse__block-text {
    max-width: 913px;
    width: 100%;
    color: #161616;
    font-family: 'Manrope', sans-serif;
    padding: 12px 20px 20px 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    display: none;
}

.collapse__block.active .collapse__block-text {
    display: block;
}

@media (max-width: 1200px) {
    .faq {
        padding: 60px 0;
    }
    .collapse__block__wrapper {
        padding: 10px 20px;
    }
    .collapse__block-title {
        font-size: 24px;
    }
    .collapse__block-text {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .faq {
        padding: 40px 0;
    }
    .collapse__block-title {
        font-size: 16px;
    }
    .collapse__block__wrapper {
        padding: 10px;
    }
    .collapse__block-text {
        font-size: 14px;
        padding: 10px;
    }
}