/* PROMO SECTION */

.promo {
    padding: 80px 0 72px;
    background: url(../img/index/promo/bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
}

.promo-title {
    font-size: 65px;
}

.promo-subtitle {
    margin-top: 20px;
    color: #C21B22;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}

.promo-services__list{
    margin-top: 30.5px;
    display: flex;
    flex-direction: column;
    gap: 8.5px;
}

.promo-services__list-item {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
    padding-left: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
}

.promo-services__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: url(../img/index/promo/list-point.svg);
}

.calc {
    max-width: 500px;
}

.calc-top {
    border-radius: 20px 20px 0px 0px;
    background: #EEE;
    padding: 40px;
}

.calc-bottom {
    border-radius: 0px 0px 20px 20px;
    background: #303030;
}

.calc-title {
    color: #161616;
    font-family: 'Play', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}

.calc-descr {
    margin-top: 12px;
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.calc-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input__block {
    background-color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    height: 55px;
}

.input-title {
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    opacity: .6;
}

.input-value,
.input-value::placeholder {
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
}

.from__block {
    border-radius: 10px 0 0 10px;
}

.to__block {
    border-radius: 0 10px 10px 0;
}

.arrow__block {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
}

.calc-form__block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calc-form__block.addresses-block {
    gap: 0;
}

.input__block.data-input,
.input__block.option-input {
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 20px center;
    cursor: pointer;
}

.input__block.data-input {
    background-image: url(../img/index/promo/calc/calendar.svg);
}

.input__block.option-input {
    background-image: url(../img/index/promo/calc/option.svg);
}

.movers-input {
    width: 18px;
    text-align: center;
}

.movers-input::-webkit-outer-spin-button,
.movers-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-line {
    display: flex;
    align-items: center;
    gap: 4px;
}

.input-line button {
    display: inline-flex;
}

.promocode-input {
    border-radius: 4px;
    background: #fff;
    width: fit-content;
    height: 55px;
    text-align: center;
    padding: 0 20px;
    max-width: 147px;
}

.promocode-input,
.promocode-input::placeholder {
    color: hsla(0, 0%, 9%, .6);
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
}

.promocode__block {
    display: flex;
    align-items: center;
}

.calc-bottom {
    padding: 20px 0;
    border-radius: 0px 0px 20px 20px;
    background: #303030;
    text-align: center;
}

/* STOCK SECTION */

.stock {
    padding: 80px 0 40px;
    background: #EEE;
}

.stock-swiper {
    height: 448px;
}

.stock-card {
    border-radius: 20px;
    border: 1px solid #303030;
    background-color: #EEE;
    padding: 40px;
    position: relative;
    background-position: center top 75px;
    background-repeat: no-repeat;
    max-width: 398px !important;
    width: 100% !important;
    height: 100%;
    overflow: hidden;
}

.stock-card.triangle-red {
    background-image: url(../img/index/stock/triangle-red.png);
}

.stock-card.triangle-black {
    background-image: url(../img/index/stock/triangle-black.png);
}

.stock-card.triangle-white {
    background-image: url(../img/index/stock/triangle-white.png);
}

.stock-card-title {
    color: #161616;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}

.stock-card-title .white {
    color: #FEFEFE;
}

.stock-card-title .red {
    color: #C21B22;
}

.stock-card-descr {
    margin-top: 8px;
    color: #FEFEFE;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    line-height: 110%;
}

.stock-card-descr.big {
    font-size: 40px;
}

.stock-card-descr.medium {
    font-size: 32px;
}

.stock-card-descr.small {
    font-size: 24px;
}

.slide-img {
    position: absolute;
    border-radius: 50%;
    left: -26%;
    bottom: -32%;
}

/* SERVICES SECTION */

.services {
    padding: 80px 0;
    background: #FEFEFE;
}

.services-title {
    text-align: center;
}

.services__tabs {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.services-tab {
    padding: 20px 40px;
    border-radius: 40px;
    background: #EEE;
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 105%;
    cursor: pointer;
    transition: .3s all;
}

.services-tab.active {
    background: #303030;
    color: #FEFEFE;
}

.services-content__block {
    margin-top: 40px;
    display: none;
    gap: 10px;
}

.services-content__block.active {
    display: flex;
}

.services-card {
    border-radius: 20px;
    max-width: 33.33333%;
    width: 100%;
}

.services-card-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.services-card-title__block {
    margin-top: -50px;
    position: relative;
    z-index: 4;
    border-radius: 20px 20px 0px 0px;
    background: #FAFAFA;
    padding: 12px 0;
    text-align: center;
}

.services-card-title {
    color: #303030;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
}

.services-card__content {
    border-radius: 0 0 20px 20px;
    background: #EEE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-card-price {
    padding: 10px 20px;
    border-radius: 20px;
    background: #C21B22;
    color: #FEFEFE;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    max-width: fit-content;
    display: block;
    margin: 0 auto;
}

.services-card__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.services-card__list-item {
    height: 30px;
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    padding-left: 34px;
    position: relative;
}

.services-card__list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url(../img/index/services/card-point.svg);
}

.services-card-btn {
    border-radius: 60px;
    background: #303030;
    padding: 0 30px;
    height: 47px;
    color: #FEFEFE;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 105%;
    max-width: fit-content;
    display: block;
    margin: 0 auto;
}

/* AUTO BLOCK */

.auto {
    padding-bottom: 40px;
    background: #EEE;
}

.auto .container {
    position: relative;
}

.auto-title {
    padding-top: 76px;
}

.auto-swiper {
    margin-top: 80px;
    position: relative;
    z-index: 10;
}

.auto-card {
    padding: 40px 20px;
    border-radius: 20px;
    border: 2px solid #303030;
    background: #FEFEFE;
    max-width: 398px !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.auto-card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 82px;
}

.card-top-text {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
}

.auto-card-title {
    color: #303030;
}

.auto-card-volume {
    border-radius: 20px;
    background: #EEE;
    padding: 10px 20px;
    color: #C21B22;
}

.auto-card-photo {
    max-width: 332px;
    max-height: 150px;
}

.auto-card-weight {
    font-family: 'Play', sans-serif;
    padding: 10px 20px;
    color: #303030;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}

.auto-card-price__block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.price-text {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}

.price-from {
    color: #FEFEFE;
    padding: 10px 20px;
    border-radius: 20px;
    background: #303030;
}

.price-km {
    color: #303030;
}

.auto__info {
    position: absolute;
    right: 0;
    top: 0;
}

.auto-circle {
    border-radius: 500px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
}

.auto-circle.white {
    background: #FEFEFE;
    border: 1px solid #EEE;
    top: -10px;
    right: 232px;
    z-index: 3;
}

.auto-circle.red {
    background: #C21B22;
    right: 0;
    top: -38px;
}

.auto-circle-title {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
}

.auto-circle-title span {
    font-size: 60px;
}

.auto-circle-title.black {
    color: #303030;
}

.auto-circle-title.white {
    color: #FEFEFE;
}

.auto-circle-descr {
    color: #161616;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    max-width: 197px;
}

.auto-circle-descr.black {
    color: #161616;
}

.auto-circle-descr.white {
    color: #FEFEFE;
}

/* LOADER-COAST SECTION */

.loader-coast {
    padding-top: 80px;
    height: 794px;
}

.loader-coast .container {
    position: relative;
}

.loader-coast .container {
    height: 100%;
}

.loader-coast-bg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.loader__info {
    margin: 80px 0 0 103px;
}

.loader__circle {
    border-radius: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.loader__circle.black {
    background: #303030;
    border: 1px solid #EEE;
    position: relative;
    z-index: 2;
}

.loader__circle.red {
    background: #C21B22;
    margin-top: -78px;
    margin-left: 80px;
}

.loader__circle-value {
    color: #FEFEFE;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
}

/* TRUST SECTION */

.trust {
    padding: 80px 0 92px;
    background: #EEE;
    position: relative;
}

.trust-title {
    text-align: center;
}

.trust .container {
    display: flex;
    flex-direction: column;
    gap: 69px;
}

.trust__list {
    width: 815px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-repeat: no-repeat;
}

.trust__list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    width: 100%;
}

.trust__list-item.start {
    align-self: flex-start;
}

.trust__list-item.center {
    align-self: flex-end;
    max-width: 671px;
}

.trust__list-item.end {
    align-self: flex-end;
    max-width: 618px;
}

.trust__list-item-title {
    color: #C21B22;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.trust__list-item-descr {
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}

.trust__list-item-descr span {
    font-weight: 700;
}

.trust-bg {
    position: absolute;
    left: 17%;
    top: 22.2%;
    max-width: 40%;
}