/* PRICE-PROMO SECTION */

.price-promo {
    padding: 80px 0;
    background: #fefefe;
}

.price-promo__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.price-promo-title {
    font-size: 65px;
}

.price-promo-descr {
    color: #C21B22;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
}

/* FACTORS SECTION */

.factors {
    padding: 80px 0;
    background: #EEE;
}

.factors__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.factors__list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.factors__list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.factors__list-item-title {
    color: #303030;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.factors__list-item-title::before {
    content: "";
    width: 45px;
    height: 45px;
    background: url('../img/price/factors/point.svg');
}

.factors__list-item-text {
    padding-left: 55px;
    color: #161616;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}

.factors__list-item-text span {
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
}